<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Survey Page</h1>
  <form>
    <div>
      <label for="fullName">
        What is your full name?
      </label>
      <input type="text" id="fullName" name="fullName">
    </div>
    <div>
      <label for="favouriteColor">
        What is your favourite Color?
      </label>
      <input type="text" id="favouriteColor" name="favouriteColor">
    </div>
    <div>
      <label>What's your favourite day of the week?</label> <br>
      <% const days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ] %>
      <% for (let option of days) { %>
        <input type="radio" name="favouriteDay" id="<%= option %>" value="<%= option %>">
        <label for="<% option %>"><%= option %></label>
        <br>
      <% } %>
    </div>
  </form>
</body>
</html>
